# GIT IGNORE #



# Win generated #

ehthumbs.db
Thumbs.db


# Mac generated #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes



# Unity generated #

VietVR_Clone/Library/
VietVR_Clone/Temp/
VietVR_Clone/VietVrFinal/Library/
VietVR_Clone/VietVrFinal/Temp/

# Visual Studio / MonoDevelop generated #
 
VietVR_Clone/VietVrFinal/.vs/
*.svd
*.userprefs
*.pidb
*.user
*.booproj

*Thumbs.db.meta
*.sln
*.csproj

# Lightmaps #

*_comp_dir.png
*_comp_dir.png.meta
*_comp_shadowmask.png
*_comp_shadowmask.png.meta
*_comp_light.exr
*_comp_light.exr.meta

VietVR_Clone/VietVrFinal/Library/metadata/64/643868be0c627fe428e24ccffdd7fd9f.info
VietVR_Clone/VietVrFinal/Library/metadata/64/643868be0c627fe428e24ccffdd7fd9f
VietVR_Clone/VietVrFinal/Library/metadata/63/63870d02487c4d94495ea8e84b3f398e.info
VietVR_Clone/VietVrFinal/Library/metadata/63/63870d02487c4d94495ea8e84b3f398e
VietVR_Clone/VietVrFinal/Library/metadata/62/62bd8b67ce2f7dc4b820e8c6c80e15b1.info
VietVR_Clone/VietVrFinal/Library/metadata/62/62bd8b67ce2f7dc4b820e8c6c80e15b1
VietVR_Clone/VietVrFinal/Library/metadata/56/56e23ef233ac12a4a8a5dd4dd5b49a70.info
VietVR_Clone/VietVrFinal/Library/metadata/56/56e23ef233ac12a4a8a5dd4dd5b49a70
VietVR_Clone/VietVrFinal/Library/metadata/52/52cb5582ab561cf43b83f78e7f254048.info
VietVR_Clone/VietVrFinal/Library/metadata/18/1889f4bc5fc938546b980cb897f3c5d9.info
VietVR_Clone/VietVrFinal/Library/metadata/18/1889f4bc5fc938546b980cb897f3c5d9
VietVR_Clone/VietVrFinal/Library/metadata/c0/c02c3f4a82fab434babd54f652bcb041
VietVR_Clone/VietVrFinal/Library/metadata/98/983d399adc1c6aa4e9aa5d429dd68708.info
VietVR_Clone/VietVrFinal/Library/metadata/98/983d399adc1c6aa4e9aa5d429dd68708
VietVR_Clone/VietVrFinal/Library/metadata/8a/8af57d3641707a04faec34ca84973b30.info
VietVR_Clone/VietVrFinal/Library/metadata/8a/8af57d3641707a04faec34ca84973b30
VietVR_Clone/VietVrFinal/Library/metadata/7e/7ea93aa30679dfd4584592aaee554ad1.info
VietVR_Clone/VietVrFinal/Library/metadata/7e/7ea93aa30679dfd4584592aaee554ad1
VietVR_Clone/VietVrFinal/Library/metadata/66/660d8bc953eabd647a3a9ec5a56fbd67.info
VietVR_Clone/VietVrFinal/Library/metadata/66/660d8bc953eabd647a3a9ec5a56fbd67
VietVR_Clone/VietVrFinal/Library/metadata/52/52cb5582ab561cf43b83f78e7f254048
VietVR_Clone/VietVrFinal/Temp/__Backupscenes/0.backup
VietVR_Clone/VietVrFinal/Temp/UnityLockfile
VietVR_Clone/VietVrFinal/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
VietVR_Clone/VietVrFinal/Library/metadata/d3/d32b01b5ac5dc474fbf1f1dcb7fa6c22.info
VietVR_Clone/VietVrFinal/Library/metadata/d3/d32b01b5ac5dc474fbf1f1dcb7fa6c22
VietVR_Clone/VietVrFinal/Library/metadata/c0/c02c3f4a82fab434babd54f652bcb041.info
VietVR_Clone/VietVrFinal/Library/metadata/4f/4fbedfef7386b1243bdd3d372f9b42b1.info
VietVR_Clone/VietVrFinal/Library/metadata/4f/4fbedfef7386b1243bdd3d372f9b42b1
VietVR_Clone/VietVrFinal/Library/metadata/4a/4aaeec49603c9d64281e1ffd726505cd.info
VietVR_Clone/VietVrFinal/Library/metadata/4a/4aaeec49603c9d64281e1ffd726505cd
VietVR_Clone/VietVrFinal/Library/metadata/3c/3c10488cdc28f9342b914879eea238be.info
VietVR_Clone/VietVrFinal/Library/metadata/3c/3c10488cdc28f9342b914879eea238be
VietVR_Clone/VietVrFinal/Library/metadata/35/353b176dca1837b468cf4eb88911d63f.info
VietVR_Clone/VietVrFinal/Library/metadata/35/353b176dca1837b468cf4eb88911d63f
VietVR_Clone/VietVrFinal/Library/metadata/16/16b587186bface244997fa211fd7fda2.info
VietVR_Clone/VietVrFinal/Library/metadata/16/16b587186bface244997fa211fd7fda2
VietVR_Clone/VietVrFinal/Library/EditorInstance.json
*.ide-shm
*.ide
*.ide-wal
VietVR_Clone/VietVrFinal/Library/metadata/1e/1e59648f4a1517f438a021a96400692d.info
VietVR_Clone/VietVrFinal/Library/assetDatabase3
VietVR_Clone/VietVrFinal/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
VietVR_Clone/VietVrFinal/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
VietVR_Clone/VietVrFinal/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
VietVR_Clone/VietVrFinal/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
VietVR_Clone/VietVrFinal/obj/
VietVR_Clone/VietVrFinal/Assets/bebas_neue/__MACOSX/TTF_s.meta
VietVR_Clone/VietVrFinal/Assets/fontawesome-free-5.6.3-desktop/fontawesome-free-5.6.3-desktop/svgs/regular.meta
VietVR_Clone/VietVrFinal/Assets/fontawesome-free-5.6.3-desktop/fontawesome-free-5.6.3-desktop/svgs/solid.meta
